DATABASE_URL="postgresql://postgres:postgres@localhost:5432/avnt"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
CLERK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
BUCKET_ENDPOINT="https://your-bucket-endpoint"
BUCKET_REGION="us-east-1"
BUCKET_ACCESS_KEY_ID=""
BUCKET_SECRET_ACCESS_KEY=""
BUCKET_NAME="avnt-assets"
ADMIN_EMAILS="owner@avnt.com,ops@avnt.com"
